<div *ngIf="isCollapsed; else elseBlock">
    <div class="logo-icon">
        <img src="../../../assets/images/tezo Icon.png" alt="">
    </div>

    <!-- ----------------------side-bar-navigation-------------------------------- -->

    <div class="icon-container flex-column">
        <div class="lock-icon-collapse"><img src="../../../assets/images/Horizontal nav/Dashboard.svg" alt="lock-icon">
        </div>
        <a routerLink="employee">
            <div class="employees-bar-collapse flex-column" [class.selected]="isLinkActive('employee')">
                <div class="lock-icon-collapse" [class.hide]="!isLinkActive('employee')"><img
                        src="../../../assets/images/Horizontal nav/Employees.svg" alt="icon"></div>
                <div class="lock-icon-collapse" [class.hide]="isLinkActive('employee')"><img
                        src="../../../assets/images/team_svgrepo.com.svg" alt="icon"></div>
                <div [class.selected-mark-collapsed]="isLinkActive('employee')"></div>
            </div>
        </a>
        <a routerLink="roles">
            <div class="roles-bar-collapse flex-column" [class.selected]="isLinkActive('roles')">
                <div class="lock-icon-collapse" [class.hide]="isLinkActive('roles')"><img
                        src="../../../assets/images/Horizontal nav/Roles.svg" alt="lock-icon"></div>
                <div class="lock-icon-collapse" [class.hide]="!isLinkActive('roles')"><img
                        src="../../../assets/images/Horizontal nav/selected role.svg" alt="lock-icon"></div>
                <div [class.selected-mark-collapsed]="isLinkActive('roles')"></div>
            </div>
        </a>

        <div class="lock-icon-collapse assign-roles-img"><img
                src="../../../assets/images/Horizontal nav/assign user.svg" alt="lock-icon"></div>

    </div>


</div>
<ng-template #elseBlock>
    <div class="tezo-logo">
        <img src="../../../assets/images/TezoLogo.png" alt="Tezo-logo">
    </div>

    <!-- ----------------------side-bar-navigation-------------------------------- -->
    <div class="all">
        <div class="light-grey function-name">ALL</div>
        <div class="dasboard grid side-bar-options">
            <div class="lock-icon"><img src="../../../assets/images/Horizontal nav/Dashboard.svg" alt="lock"></div>
            <div class="text grey-color">Dasboard</div>
        </div>
        <a routerLink="employee">
            <div class="employees flex-column" [class.selected]="isLinkActive('employee')">
                <div class="employees-bar grid side-bar-options">
                    <div class="lock-icon" [class.hide]="!isLinkActive('employee')"><img
                            src="../../../assets/images/Horizontal nav/Employees.svg" alt="icon"></div>
                    <div class="lock-icon" [class.hide]="isLinkActive('employee')"><img
                            src="../../../assets/images/team_svgrepo.com.svg" alt="icon"></div>
                    <div class="text" [class.grey-color]="!isLinkActive('employee')">Employees</div>
                    <div class="arrow flex" *ngIf="!isLinkActive('employee')"><i
                            class="fa-solid fa-angle-right dark-grey"></i></div>
                    <div [class.selected-mark]="isLinkActive('employee')"></div>
                    <!-- <div class="selected-mark"></div> -->
                </div>
            </div>
        </a>
        <div class="light-grey function-name">Roles/ User Management</div>
        <a routerLink="roles">
            <div class="roles flex-column" [class.selected]="isLinkActive('roles')">
                <div class="user-management__roles grid side-bar-options">
                    <div class="lock-icon" [class.hide]="isLinkActive('roles')"><img
                            src="../../../assets/images/Horizontal nav/Roles.svg" alt="lock-icon"></div>
                    <div class="lock-icon" [class.hide]="!isLinkActive('roles')"><img
                            src="../../../assets/images/Horizontal nav/selected role.svg" alt="lock-icon"></div>
                    <div class="text" [class.grey-color]="!isLinkActive('roles')">Roles</div>
                    <div class="arrow flex" *ngIf="!isLinkActive('roles')"><i
                            class="fa-solid fa-angle-right dark-grey"></i></div>
                    <!-- <div class="selected-mark"></div> -->
                    <div [class.selected-mark]="isLinkActive('roles')"></div>
                </div>
            </div>
        </a>

        <div class="user-management__assign grid side-bar-options">
            <div class="lock-icon assign-roles-img"><img src="../../../assets/images/Horizontal nav/assign user.svg"
                    alt="lock-icon"></div>
            <div class="text grey-color assign-roles">Assign User Roles</div>
            <div class="arrow flex"><i class="fa-solid fa-angle-right light grey"></i></div>
        </div>
    </div>

    <!-- ----------------------  update-box  -------------------------------- -->
    <div class="install-update flex-column">
        <div class="update-text">Install new update 2.3.1A</div>
        <div class="update-desc light-grey">Allow to launch the new update for the AD application</div>
        <div class="update-options flex">
            <div class="dismiss-button flex">Dismiss</div>
            <div class="accept-button flex">Accept</div>
        </div>
    </div>

</ng-template>