<div class="heading heading-employees flex">
    <div class="heading-text">
        <div class="employee-heading">Employees</div>
        <div class="heading-desc grey-color">Find all of your company's employee accounts and their
            associate roles</div>
    </div>
    <button class="export-button flex">
        <img src="../../assets/images/Masked Icon.png" alt="Export">
        <p class="grey-color">EXPORT</p>
    </button>
    <a href="#" class="add-employee-button flex">
        <button class="flex">
            <i class="fa-solid fa-plus"></i>
            <p class="grey-color">ADD EMPLOYEE</p>
        </button>
    </a>
</div>