<!-- <tr>
    <td class="check-box-col"><input type="checkbox" class="select"></td>
    <td class="list-profile flex edit-col">
        <img src="{{empData.img}}" alt="profile">
        <div>
            <div class="list-profile-name">{{empData.name}}</div>
            <div class="list-profile-mail grey-color">{{empData.email}}</div>
        </div>
    </td>
    <td class="col col-location edit-col">{{empData.location}}</td>
    <td class="col col-department edit-col">{{empData.dept}}</td>
    <td class="col-role col edit-col">{{empData.role}}</td>
    <td class="col-emp-no col edit-col">{{empData.empNo}}</td>
    <td class="col-status col">
        <div class="">{{empData.status}}</div>
    </td>
    <td class="col-join-dt col edit-col">{{empData.joinDate}}</td>
    <td class="three-dots col">
        <i class="fa-solid fa-ellipsis"></i>
        <div class="ellipsis-menu hide-ellipsis-menu flex-column">
            <div class="child details">More Details</div>
            <div class="child edit">Edit</div>
            <div class="child delete">Delete</div>
        </div>
    </td>
</tr> -->

<tr *ngFor="let employee of employees">
    <td class="check-box-col"><input type="checkbox" class="select"></td>
    <td class="list-profile flex edit-col">
        <img src="{{employee.img}}" alt="profile">
        <div>
            <div class="list-profile-name">{{employee.name}}</div>
            <div class="list-profile-mail grey-color">{{employee.email}}</div>
        </div>
    </td>
    <td class="col col-location edit-col">{{employee.location}}</td>
    <td class="col col-department edit-col">{{employee.dept}}</td>
    <td class="col-role col edit-col">{{employee.role}}</td>
    <td class="col-emp-no col edit-col">{{employee.empNo}}</td>
    <td class="col-status col">
        <div class="">{{employee.status}}</div>
    </td>
    <td class="col-join-dt col edit-col">{{employee.joinDate}}</td>
    <td class="three-dots col">
        <i class="fa-solid fa-ellipsis"></i>
        <div class="ellipsis-menu hide-ellipsis-menu flex-column">
            <div class="child details">More Details</div>
            <div class="child edit">Edit</div>
            <div class="child delete">Delete</div>
        </div>
    </td>
</tr>