<div class="employee-list-body flex-column">
    <div class="list-updation-bar flex">
        <img src="../.../../assets/images/arrow-turn left -down.png" alt="arrow" div class="left-down-arrow">
        <button disabled class="delete-btn">Delete</button>
        <img src="../../assets/images/table-add.png" alt="add-employee" class="add-list-btn">
    </div>

    <table id="employee-table" class="employee-table">
        <thead>
            <tr>
                <th class="check-box-col">
                    <label for="">
                        <input type="checkbox">
                    </label>
                </th>
                <th class="col col-user">
                    <span>USER</span>
                    <i class="fa-solid fa-sort"></i>
                </th>
                <th class="col col-location">
                    <span>LOCATION</span>
                    <i class="fa-solid fa-sort"></i>
                </th>
                <th class="col col-department">
                    <span>DEPARTMENT</span>
                    <i class="fa-solid fa-sort"></i>
                </th>
                <th class="col col-role">
                    <span>ROLE</span>
                    <i class="fa-solid fa-sort"></i>
                </th>
                <th class="col col-emp-no">
                    <span>EMP NO</span>
                    <i class="fa-solid fa-sort"></i>
                </th>
                <th class="col col-status">
                    <span>STATUS</span>
                    <i class="fa-solid fa-sort"></i>
                </th>
                <th class="col col-join-dt">
                    <span>JOIN DT</span>
                    <i class="fa-solid fa-sort"></i>
                </th>
                <th>
                    <i class="fa-solid fa-ellipsis"></i>
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let employee of employees">
            <app-employee-row [empData]="employee"></app-employee-row>
            <!-- <tr *ngFor="let employee of employees">
                <app-employee-row [empData]="employee"></app-employee-row>
            </tr> -->

            <!-- <tr>
                <td class="check-box-col"><input type="checkbox" class="select"></td>
                <td class="list-profile flex edit-col">
                    <img src="{{employee.img}}" alt="profile">
                    <div>
                        <div class="list-profile-name">{{employee.name}}</div>
                        <div class="list-profile-mail grey-color">{{employee.email}}</div>
                    </div>
                </td>
                <td class="col col-location edit-col">{{employee.location}}</td>
                <td class="col col-department edit-col">{{employee.dept}}</td>
                <td class="col-role col edit-col">{{employee.role}}</td>
                <td class="col-emp-no col edit-col">{{employee.empNo}}</td>
                <td class="col-status col">
                    <div class="">{{employee.status}}</div>
                </td>
                <td class="col-join-dt col edit-col">{{employee.joinDate}}</td>
                <td class="three-dots col">
                    <i class="fa-solid fa-ellipsis"></i>
                    <div class="ellipsis-menu hide-ellipsis-menu flex-column">
                        <div class="child details">More Details</div>
                        <div class="child edit">Edit</div>
                        <div class="child delete">Delete</div>
                    </div>
                </td>
            </tr> -->
        </tbody>
    </table>
</div>