.role-block-container{
    overflow-y: auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1% 1% 0 1%;
    gap:1%;
}

.role-block{
    padding: 10% 7% 5% 10%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: .4rem;
    gap: .6rem;
    /* padding: 10% 5% 3% 7%; */
    /* gap: 1.2rem; */  
    margin-bottom: 3%;
}

.edit-icon img{
    height: 70%;
}
.role-info-container
{
    gap: .3rem;
}
.role-info-name{
    margin-left: auto;
}

.role-info>:nth-child(2),
.role-info>:last-child,
.role-info p{
    font-weight: 500;
    opacity: 0.85;
    color: #4c5f71;
    font-size: .7rem;
}

.view-btn{
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    width: 50%;
}
.view-btn i{
    margin-left: .5rem;
    font-size: .8rem;
    opacity: 70%;
}

.view-btn button{
    cursor: pointer;
    border: none;
    background-color: white;
    text-align: right;
    font-size: .7rem;
    width: 100%;
}

.employee-cnt-img{
    margin-left: auto;
    height: 1rem;
    align-items: center;
}
.employee-cnt-img img{
    height: 100%;
    margin-left: -.5rem;
}
.employee-cnt-img p{
    padding-top: 10%;
    background-color: white;
    display: inline;
    margin-left: -.6rem;
    height: .7rem;
    width: 1rem;
    font-size: .4rem;
    border: 1px solid grey;
    font-weight: bold;
    color: black;
    text-align: center;
    border-radius: 50%;
}