.logo,
.all,
.user-management {
    padding-left: 5%;
}

.all>:nth-child(4) {

    margin-top: 1.5rem;
}

.function-name {
    font-size: .7rem;
    padding-bottom: 7%;
}

.lock-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lock-icon img {
    height: 50%;
}

.lock-icon-collapse img {
    height: 1.7rem;
}

.icon-container {
    align-items: center;
    gap: .75rem;
}

.arrow {
    justify-content: center;
    align-items: center;
}

.arrow i {
    font-size: .9rem;
}

.side-bar-options {
    grid-template-columns: 1fr 3fr 1fr;
}

.dasboard,
.roles,
.employees-bar,
.user-management__assign,
.user-management__roles {
    grid-template-columns: 1fr 3fr 1fr;
}

.text {
    padding-top: 8%;
    padding-bottom: 8%;
    font-size: .8rem;
}


.employees .selected {
    color: #f44848;
}

.employees-bar {
    position: relative;
    background-color: #fde6e6;
    border-radius: .3rem;
}

.selected-mark {
    width: 2%;
    border-radius: .5rem;
    position: absolute;
    height: 100%;
    right: -5%;
    background-color: #f44848;
}

.employees-bar-collapse {
    position: relative;
    background-color: #fde6e6;
    width: 100%;
    justify-content: center;
}
.selected-mark-collapsed {
    width: 2%;
    border-radius: .5rem;
    position: absolute;
    height: 100%;
    right: 1%;
    background-color: #f44848;
}

.fa-circle {
    margin-left: .6rem;
    margin-top: auto;
    margin-bottom: auto;
    font-size: .3rem;
}

.selected-column-number {
    justify-content: center;
    align-items: center;
    display: flex;
}

.selected-column-number p {
    padding-right: .4rem;
    padding-left: .4rem;
    background-color: #feeeee;
    color: #f44848;
    text-align: center;
    border-radius: 1rem;
}

.departments .selected {
    background-color: #f7f8f9;
}

.departments .selected>:last-child p {
    background-color: #f44848;
    color: white;
}