<div class="add-employee-form">
    <h1>Add Employee</h1>
    <form id="employeeForm" class="employee-form flex-column" novalidate (ngSubmit)="onSubmit()">
        <div class="profile-image-container flex" id="profileImageContainer">
            <div class="default-profile-photo flex">
                <img [src]="previewSrc" alt="Default User Image"
                    id="profileImagePreview" />
            </div>
            <label for="profileImageInput" class="upload-profile-pic-btn flex">
                Upload Profile Picture
            </label>
            <input type="file" id="profileImageInput" name="profileImage" accept="image/*"  (change)="onProfileImageChange($event)" [(ngModel)]="profileImg"/>
        </div>
        <div class="employee-detail-form">
            <div class="employee-form-profile-details flex-column">
                <div class="personal-information-container">
                    <h2>Personal Information</h2>
                    <div class="personal-information">
                        <div class="flex">
                            <div class="input-field-container">
                                <label for="empNo">Emp No</label>
                                <input type="text" id="empNo" name="empNo" placeholder="Employee no" [(ngModel)]="id"/>
                                <span></span>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="input-field-container fName-Container">
                                <label for="firstName">First Name</label>
                                <input type="text" id="firstName" name="firstName"
                                    placeholder="First Name"  [(ngModel)]="fName"/>
                                <span></span>

                            </div>
                            <div class="input-field-container lName-Container">
                                <label for="lastName">Last Name</label>
                                <input type="text" id="lastName" name="lastName" placeholder="Last Name"  [(ngModel)]="lName"/>
                                <span></span>

                            </div>
                            <div class="input-field-container">
                                <label for="dob">Date of Birth</label>
                                <input type="date" id="dob" name="dob" class="date-input"
                                    placeholder="Select" [(ngModel)]="dob"/>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="input-field-container email-Container">
                                <label for="email">Email Id</label>
                                <input type="email" id="email" name="email"
                                    placeholder="Joe.j@Technover.com"  [(ngModel)]="email"/>
                                <span></span>
                            </div>
                            <div class="input-field-container mobile-Container">
                                <label for="mobileNumber">Mobile Number</label>
                                <input type="text" id="mobileNumber" name="mobileNumber"
                                    placeholder="0000000000"  [(ngModel)]="mobile"/>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="employment-information-container">
                    <h2>Employment Information</h2>
                    <div class="employment-information">
                        <div class="flex">
                            <div class="input-field-container joining-date">
                                <label for="joiningDate"> Joining Date</label>
                                <input type="date" id="joiningDate" name="joiningDate"  [(ngModel)]="joiningDate"/>
                                <span></span>
                            </div>
                            <div class="input-field-container location-container">
                                <label for="location">Location</label>
                                <select id="location" name="location"  [(ngModel)]="location">
                                    <option value="" hidden>select</option>
                                    <option *ngFor="let location of locations" value="{{location.id}}">{{location.name}}</option>
                                </select>
                                <span></span>
                            </div>
                        </div>
                        <div class="flex">
                            
                            <div class="input-field-container department-container">
                                <label for="department">Department</label>
                                <select id="department" name="department"  [(ngModel)]="dept">
                                    <option value="" hidden>select</option>
                                    <option *ngFor="let department of departments" value="{{department.id}}">{{department.name}}</option>
                                </select>
                                <span></span>
                            </div>
                            <div class="input-field-container jobTitle-container">
                                <label for="jobTitle">Job Title</label>
                                <select id="jobTitle" name="jobTitle"  [(ngModel)]="role">
                                    <option value="" hidden>select</option>
                                    <option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</option>
                                </select>
                                <span></span>
                            </div>

                        </div>
                        <div class="flex">
                            <div class="input-field-container manager-container">
                                <label for="manager">Manager</label>
                                <select id="manager" name="manager"  [(ngModel)]="manager">
                                    <option value="" hidden>select</option>
                                </select>
                                <span></span>
                            </div>
                            <div class="input-field-container project-container">
                                <label for="project">Projects</label>
                                <select id="project" name="project"  [(ngModel)]="project">
                                    <option value="" hidden>select</option>
                                    <option *ngFor="let project of projects" value="{{project.id}}">{{project.name}}</option>
                                </select>
                                <span></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-buttons">
                        <button type="reset" id="cancel" (click)="closeAddEmployeeModal()">Cancel</button>
                        <button type="submit" id="submitButton" data-dismiss="modal">Add Employee</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div> 

