<div class="search-bar flex">
    <div class="flex">
        <img src="../../assets/images/bx-search.png" alt="search" class="search-icon">
        <div class="search-input"><input type="text" placeholder="Search" /></div>
    </div>

    <div class="search-bar-name-block search-bar-name-block-employee flex">
        <div class="language-icon search-bar-icon"><img src="../../assets/images/IconButton.png" alt="language-icon">
        </div>
        <div class="block-icon search-bar-icon"><img src="../../assets/images/icon1.png" alt="language-icon"></div>
        <div class="theme-icon search-bar-icon"><img src="../../assets/images/icon2.png" alt="language-icon"></div>
        <div class="notification-icon search-bar-icon"><img src="../../assets/images/icon3.png" alt="language-icon">
        </div>
        <div class="admin flex">
            <div class="admin-img"><img src="../../assets/images/admin-search.png" alt="admin"></div>
            <div>
                <div class="admin__name">John Abraham</div>
                <div class="admin__profile"><b>Admin</b></div>
            </div>
            <div class="arrow flex"><i class="fa-solid fa-angle-down"></i></div>

        </div>
    </div>
    <!-- <img src="../../assets/images/handle.png" alt="" class="collapse-btn collapse-up-button " id="collapse-up-button"
        onclick="collapseDropdownTopbar()"> -->
</div>
