/* You can add global styles to this file, and also import other style files */
* {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
}

.grey-color {
    color: #a7a9ab;
}

.light-grey {
    color: #c8c9ca;
}

.dark-grey {
    color: #4c5f71
}

.main-body {
    grid-template-columns: 1fr 5fr;
    min-height: 100vh;
    transition: 0.3s ease-in-out;
}

.side-bar,
.employees-detail {
    height: 100vh;
}
.employees-detail{
    margin-right: 2%;
    margin-left: 2%;
}
.side-bar-collapsed.hide,.side-bar.hide{
    display: none;
}

.side-bar {
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.057);
    overflow-x: hidden;
    padding-left: 5%;
    padding-right: 5%;
}


.user-management,
.departments,
.install-update,
.all {
    margin-top: 3vh;
}

